h1 {
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  width: 1200px;
}

.character-card {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
  width: calc(20% - 4 * 20px / 5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
